<nav class="navbar navbar-expand-lg navbar-light bg-dark ">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse " id="navbarSupportedContent">
    <ul class="navbar-nav text-right">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-link"> | </li>
      <li class="nav-item">
        <% if user_signed_in? %>
          <%= link_to "Logout", destroy_user_session_path, class: "nav-link", method: :delete %>
        <% else %>
          <%= link_to "Log in", new_user_session_path, class: "nav-link" %>
        <% end %>
      </li>
      <li class="nav-item">
        <% unless user_signed_in? %>
          <%= link_to "Sign up", new_user_session_path, class: "nav-link" %>
        <% end %>
      </li>
      <% if user_signed_in? %>
        <div class="d-flex">
          <li class="nav-link">
            <%# <% if current_user.image %>
              <%# <%= image_tag(current_user.image) %>
            <%# <% end %>
          </li class="nav-item">
          <li class="nav-link">
            <%= "Welcome #{current_user.name}!" %>
          </li>
        </div>
      <% end %>
    </ul>
  </div>
</nav>
